<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dong.edu">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <receiver android:name="com.dong.edu.NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <service android:name=".util.FetchDataFromFirebaseService" />

        <activity
            android:name=".SprintEvaluateActivity"
            android:parentActivityName=".SprintDetailActivity" />
        <activity
            android:name=".DayDetailActivity"
            android:parentActivityName=".SprintDetailActivity" />
        <activity
            android:name=".DayAddActivity"
            android:parentActivityName=".SprintDetailActivity" />
        <activity
            android:name=".SprintDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".SprintListActivity" />
        <activity
            android:name=".SprintAddActivity"
            android:parentActivityName=".SprintListActivity" />
        <activity android:name=".SprintListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>